<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Artikelverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Artikelliste</h2>
	   
		<form th:object="${productSearch}" th:action="@{/product/list}"
			method="get">
			<table class="table table-sm">
				<tr>
                    <th>Artikelnummer</th>
                    <th>Artikelbezeichnung</th>
                    <th>Beschreibung</th>
				</tr>
				<tr>
					<td><input type="text" th:field="*{productNo}" /></td>
					<td><input type="text" th:field="*{name}" /></td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td><button type="submit" class="btn btn-primary">Suchen</button></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			
				<ul>
				    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
				        <span th:text="${e.message}">The error message</span>
				    </li>
				</ul>			
			</div>

		</form>
		
		<hr>

        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Artikelnummer</th>
                    <th>Artikelbezeichnung</th>
                    <th>Beschreibung</th>
                    <th>aktiv?</th>
                    <th>Bestände</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${page.content}">
                    <td th:text="${product.productNo}">Artikelnummer</td>
                    <td th:text="${product.name}">Artikelbezeichnung</td>
                    <td th:text="${product.description}">Beschreibung</td>
                    <td>
    					<span th:if="${product.active}" th:text="ja">ja</span> 
    					<span th:unless="${product.active}" th:text="nein" >nein</span>
					</td>
					<td> 
						<a href="#" title="Bestandsliste"
							th:if="${product.stocks.size() > 0}"
							th:href="${'/stock/list?productNo=' + product.productNo}" 
							th:text="${product.stocks.size()}">Bestände</a>
					</td>
                    <td>
                    	&nbsp;
                    	<a href="#" th:href="@{'/product/' + ${product.id} + '/show'}" title="Anzeigen"><img src= "/icons/document-2x.png" /></a>
                    	&nbsp;
                    	<a href="#" th:href="@{'/product/' + ${product.id} + '/edit'}" title="Ändern"><img src= "/icons/pencil-2x.png" /></a>
                    	&nbsp;
                    	<a href="#" th:href="@{'/stock/' + ${product.id} + '/createStock'}" title="Bestand anlegen"><img src= "/icons/plus-2x.png" /></a>
                    	&nbsp;
                    	<a href="#" th:if="${product.stocks.size() < 1}" th:href="@{'/product/' + ${product.id} + '/deleteForm'}" title="Löschen"><img src= "/icons/trash-2x.png" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
		<nav aria-label="Artikeliste-Navigation">
		  <ul class="pagination justify-content-center">
	    	<li class="page-item" th:classappend="!${page.hasPrevious()} ? disabled : ''"> 
	    		<a class="page-link" href="#"
					th:href="@{/product/list(productNo=${lastSearch.productNo},name=${lastSearch.name},description=${lastSearch.description},page=${page.number-1},size=${page.size})}"
				>Zurück</a>
		    </li>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		    <li th:if="${i != -1}" class="page-item" th:classappend="${page.number == i} ? active : ''">
			    <a th:if="${page.number != i}" class="page-link" href="#"
			    	th:href="@{/product/list(productNo=${lastSearch.productNo},name=${lastSearch.name},description=${lastSearch.description},page=${i},size=${page.size})}"
			    >[[${i}+1]]</a>
			    <span th:if="${page.number == i}" class="page-link">[[${i}+1]]</span>
		    </li>
			</th:block>
		    <li class="page-item" th:classappend="!${page.hasNext()} ? disabled : ''">
		    	<a class="page-link" href="#"
		    		th:href="@{/product/list(productNo=${lastSearch.productNo},name=${lastSearch.name},description=${lastSearch.description},page=${page.number+1},size=${page.size})}"
		    	>Weiter</a>
		    </li>
		  </ul>
		</nav>
        
		<hr>
        
        <a class="btn btn-primary" href="#" th:href="@{'/product/new'}" role="button">Produkt anlegen</a>
        
    </div>

</body>
</html>