<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Bestandsverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    
    	<h2>Neuer Bestand</h2>
    
	    <form  th:object="${newStock}" th:action="@{/stock/save}"  method="post">

	    	<input type="hidden" th:field="*{id}" />

	    	<div class="form-group">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="productNo" th:text="'Artikelnummer'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{productNo}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="name" th:text="'Artikelbezeichnung'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{name}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="description" th:text="'Beschreibung'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{description}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<input type="checkbox" th:disabled="${true}" class="form-check-input" th:field="*{active}" />
	    		<label th:for="active" th:text="'aktiv ja/nein'"></label>
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="units" th:text="'Anzahl'"></label>
	    		<input type="text" class="form-control" th:field="*{units}" />
	    	</div>
	    

		<button type="submit" class="btn btn-primary" >Speichern</button>
		
		<a href="/product/list" class="btn btn-primary">Zurück</a>
		
		</form>
        
    </div>

</body>
</html>