<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Simple WMS -- Bestandsverwaltung</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="fragments/main_menu :: main_menu"></div>

	<div class="container mt-4">

		<h2>Bestandsliste</h2>

		<form th:object="${stockSearch}" th:action="@{/stock/list}"
			method="get">
			<table class="table table-sm">
				<tr>
					<th>Artikelnummer</th>
					<th>kein Lagerplatz</th>
					<th>Gang</th>
					<th>Säule</th>
					<th>Ebene</th>
				</tr>
				<tr>
					<td><input type="text" th:field="*{productNo}" /></td>
					<td>
						<input type="checkbox" th:field="*{noLocation}" />
					</td>
					<td><input type="text" th:field="*{locAisle}" /></td>
					<td><input type="text" th:field="*{locStack}" /></td>
					<td><input type="text" th:field="*{locLevel}" /></td>
				</tr>
				<tr>
					<td><button type="submit" class="btn btn-primary">Suchen</button></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			
				<ul>
				    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
				        <span th:text="${e.message}">The error message</span>
				    </li>
				</ul>			
			</div>

		</form>

		<table class="table table-sm table-bordered table-hover">
			<thead class="thead-light">
				<tr>
					<th>Artikelnummer</th>
					<th>Lagerplatz</th>
					<th>Anzahl</th>
					<th>Aktion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="stock : ${page.content}">
					<td> 
						<a href="#" title="Artikelsuche"
							th:href="${'/product/list?productNo=' + stock.product.productNo}" 
							th:text="${stock.product.productNo}" >Artikelnummer</a>
					</td>
					<td> 
						<a href="#" title="Lagerplatzsuche"
							th:if="${stock.loc != null}"
							th:href="${'/location/searchById/' + stock.loc.id + '/'}" 
							th:text="${stock.loc.coordinates}" >Lagerplatz</a>
					</td>
					<td th:text="${stock.units}">Anzahl</td>
					<td>
						&nbsp; 
						<a href="#" th:href="@{'/stock/' + ${stock.id} + '/move'}"
							title="Umlagerung">
							<img src="/icons/share-boxed-2x.png" />
						</a> 
						&nbsp; 
						<a href="#" th:href="@{'/stock/' + ${stock.id} + '/correct'}"
							title="Bestandskorrektur">
							<img src="/icons/pencil-2x.png" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<nav aria-label="Artikeliste-Navigation">
		  <ul class="pagination justify-content-center">
	    	<li class="page-item" th:classappend="!${page.hasPrevious()} ? disabled : ''"> 
	    		<a class="page-link" href="#"
					th:href="@{/stock/list(
						productNo=${lastSearch.productNo},noLocation=${lastSearch.noLocation},
						locAisle=${lastSearch.locAisle},locStack=${lastSearch.locStack},
						locLevel=${lastSearch.locLevel},page=${page.number-1},size=${page.size})}"
				>Zurück</a>
		    </li>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		    <li th:if="${i != -1}" class="page-item" th:classappend="${page.number == i} ? active : ''">
			    <a th:if="${page.number != i}" class="page-link" href="#"
			    	th:href="@{/stock/list(
			    		productNo=${lastSearch.productNo},noLocation=${lastSearch.noLocation},
			    		locAisle=${lastSearch.locAisle},locStack=${lastSearch.locStack},
			    		locLevel=${lastSearch.locLevel},page=${i},size=${page.size})}"
			    >[[${i}+1]]</a>
			    <span th:if="${page.number == i}" class="page-link">[[${i}+1]]</span>
		    </li>
			</th:block>
		    <li class="page-item" th:classappend="!${page.hasNext()} ? disabled : ''">
		    	<a class="page-link" href="#"
		    		th:href="@{/stock/list(
		    			productNo=${lastSearch.productNo},noLocation=${lastSearch.noLocation},
		    			locAisle=${lastSearch.locAisle},locStack=${lastSearch.locStack},
		    			locLevel=${lastSearch.locLevel},page=${page.number+1},size=${page.size})}"
		    	>Weiter</a>
		    </li>
		  </ul>
		</nav>

	</div>

</body>
</html>