<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Bestandsverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Bestand umlagern: freie Lagerplätze</h2>
	   
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Koordinaten</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="location : ${locationList}">
                    <td th:text="${location.coordinates}">Anzeige</td>
                    <td>
                    	&nbsp;
                    	<a href="#" th:href="@{${location.id} + '/selectNewLocation'}" title="Platz auswählen"><img src= "/icons/check-2x.png" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <a href="/stock/list" class="btn btn-primary">Zurück</a>
        
    </div>

</body>
</html>