<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Bestandsverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Bestand umlagern: Bestätigung</h2>
	   
	   <form>
	   
	   		<table>
	   		<tbody>
	   		<tr>
	   			<td>Artikel</td>
	   			<td th:text="${stock.product.productNo}">Artikelnummer</td>
	   		</tr>
	   		<tr>
	   			<td>Anzahl</td>
	   			<td th:text="${stock.units}">Anzahl</td>
	   		</tr>
	   		<tr>
	   			<td>alter Lagerplatz</td>
	   			<td th:if="${stock.loc != null}" th:text="${stock.loc.coordinates}">alt</td>
	   		</tr>
	   		<tr>
	   			<td>neuer Lagerplatz</td>
	   			<td th:text="${newLocation.coordinates}">neu</td>
	   		</tr>
	   		
	   		</tbody>
	   		
	   		</table>
	   		
	   		<a href="#" th:href="@{'/stock/' + ${stock.id} + '/' + ${newLocation.id} + '/confirmNewLocation'}"
							title="Bestätigen" class="btn btn-primary">Umlagerung durchführen</a> 
	   
        	<a href="/stock/list" class="btn btn-primary">Zurück</a>
        
	   
	   </form>
	   
    </div>

</body>
</html>