<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Bestandsverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    
    	<h2>Bestandskorrektur</h2>
    
	    <form  th:object="${stockCorrection}" th:action="@{/stock/executeCorrection}"  method="post">

	    	<input type="hidden" th:field="*{id}" />

	    	<div class="form-group">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="productNo" th:text="'Artikel'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{productNo}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="locCoordinates" th:text="'Lagerplatz'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{locCoordinates}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="units" th:text="'Anzahl'"></label>
	    		<input type="text" class="form-control" th:field="*{units}" />
	    	</div>
	    

		<button type="submit" class="btn btn-primary" >Speichern</button>
		
		<a href="/stock/list" class="btn btn-primary">Zurück</a>
		
		</form>
        
    </div>

</body>
</html>