<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Kommissionierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    	
    	<h2 th:text="${'Kommissionierauftrag ' + item.orderName}">Kommissionierauftrag</h2>
    
	    <form  th:object="${item}" th:action="@{/picking/saveItem}"  method="post">

	    	<input type="hidden" th:field="*{id}" />
	    	<input type="hidden" th:field="*{orderId}" />
	    	<input type="hidden" th:field="*{orderName}" />
	    	<input type="hidden" th:field="*{stockId}" />
	    	<input type="hidden" th:field="*{productNo}" />
	    	<input type="hidden" th:field="*{stockLocation}" />
	    	<input type="hidden" th:field="*{orderQuantity}" />

	    	<div class="form-group">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="productNo" th:text="'Artikelnummer'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{productNo}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="stockLocation" th:text="'Lagerplatz'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{stockLocation}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="orderQuantity" th:text="'Sollmenge'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{orderQuantity}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="actualQuantity" th:text="'Istmenge'"></label>
	    		<input type="text" class="form-control" th:field="*{actualQuantity}" />
	    	</div>

			<button type="submit" class="btn btn-primary" >Speichern</button>
			
			<a href="#" th:href="@{'/picking/' + *{orderId} + '/show'}" class="btn btn-primary" >Zurück</a>
		
		</form>
        
    </div>


</body>
</html>