<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Kommissionierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    
    	<h2>Kommissionierauftrag</h2>
    	
    	<h4 th:text="${order.orderName + ' -- Positionen bearbeiten'}">Auftragsname</h4>
    	
			<form th:object="${newItem}" th:action="@{/picking/addItem}" method="post">
	    
	    	<input type="hidden" th:field="*{orderId}" />
	    	
	    	<div th:if="${availableProducts.size() < 1}" class="alert alert-warning" role="alert">
  				Keine verfügbaren Artikel mehr!
			</div>
	    	
	    	<table th:if="${availableProducts.size() > 0}" class="table table-sm">
	    		<tr>
	    			<th>Artikel</th>
	    			<th>Anzahl</th>
	    			<th></th>
	    		</tr>
	    		<tr>
	    			<td>
	    				<select th:field="*{productNo}">
	    					<option th:each="product : ${availableProducts}" th:value="${product.productNo}" th:text="${product.productNo}">
    						</option>
	    				</select>
	    			</td>
	    			<td><input type="text" th:field="*{orderQuantity}" /></td>
	    			<td><button type="submit" class="btn btn-primary" >Hinzufügen</button></td>
	    		</tr>
	    	</table>

		</form>	    
	    	
		<hr>        
	    	
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Artikelbezeichnung</th>
                    <th>Status</th>
                    <th>Sollmenge</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.product.productNo}">Auftragsbezeichnung</td>
                    <td th:text="${item.itemStatus}">Status</td>
                    <td th:text="${item.orderQuantity}">Sollmenge</td>
                    <td>
                    	&nbsp;
                    	<a href="#" 
                    		th:href="@{'/picking/' + ${order.id} + '/removeItem/' + ${item.id}}"
                    		th:onclick="'return window.confirm(\'Wirklich löschen?\');'" 
                    		title="Entfernen"><img src= "/icons/trash-2x.png" /></a>
                    	&nbsp;
                    	<a href="#" 
                    		th:href="@{'/picking/' + ${item.id} + '/editNewItem'}" title="Ändern">
                    		<img src= "/icons/pencil-2x.png" />
                    	</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr>
	    
		<a href="#" th:href="@{'/picking/' + ${order.id} + '/show'}" class="btn btn-primary">Zurück zur Auftragsansicht</a>
	
    </div>

</body>
</html>