<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Kommissionierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Kommissionieraufträge</h2>
	   
		<form th:object="${orderSearch}" th:action="@{/picking/list}"
			method="get">
			<table class="table table-sm">
				<tr>
                    <th>Zuordnung</th>
                    <th>angelegt</th>
                    <th>Status</th>
				</tr>
				<tr>
					<td>
						<input type="radio" th:field="*{assignment}" value="all"/><label th:text="Alle">Alle</label>
						<input type="radio" th:field="*{assignment}" value="own"/><label th:text="Eigene">Eigene</label>
						<input type="radio" th:field="*{assignment}" value="others"/><label th:text="Fremde">Fremde</label>
						<input type="radio" th:field="*{assignment}" value="nobody"/><label th:text="Niemand">Niemand</label>
					</td>
				
					<td><input type="date" th:field="*{created}" /></td>
					<td>
						<select th:field="*{orderStatus}">
							<option th:value="${''}"></option>
							<option th:value="${'NEU'}">NEU</option>
							<option th:value="${'IN ARBEIT'}">IN ARBEIT</option>
							<option th:value="${'ERLEDIGT'}">ERLEDIGT</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><button type="submit" class="btn btn-primary">Suchen</button></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<ul>
				    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
				        <span th:text="${e.message}">The error message</span>
				    </li>
				</ul>			
			</div>
		</form>
		
        <table class="table table-sm table-bordered table-hover mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Auftragsbezeichnung</th>
                    <th>angelegt</th>
                    <th>zuletzt geändert</th>
                    <th>Benutzer</th>
                    <th>Status</th>
                    <th>Positionen</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${page.content}">
                    <td th:text="${order.orderName}">Auftragsbezeichnung</td>
                    <td th:text="${#dates.format(order.created, 'dd.MM.yyyy HH:mm')}">angelegt</td>
                    <td th:text="${#dates.format(order.lastChanged, 'dd.MM.yyyy HH:mm')}">zuletzt geändert</td>
                    <td>
                    	<span th:if="${order.user != null}" th:text="${order.user.username}">Benutzer</span>
                    </td>
                    <td th:text="${order.orderStatus}">Status</td>
					<td th:if="${order.items != null}" th:text="${order.items.size()}">Positionen</td>
                    <td>
                    	&nbsp;
                    	<a href="#" th:href="@{'/picking/' + ${order.id} + '/show'}" title="Anzeigen/Bearbeiten"><img src= "/icons/document-2x.png" /></a>
                    </td>
                </tr>
            </tbody>
        </table>

		<nav aria-label="Auftrag-Navigation">
		  <ul class="pagination justify-content-center">
	    	<li class="page-item" th:classappend="!${page.hasPrevious()} ? disabled : ''"> 
	    		<a class="page-link" href="#"
					th:href="@{/picking/list(assignment=${lastSearch.assignment},created=${lastSearch.created},orderStatus=${lastSearch.orderStatus},page=${page.number-1},size=${page.size})}"
				>Zurück</a>
		    </li>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		    <li th:if="${i != -1}" class="page-item" th:classappend="${page.number == i} ? active : ''">
			    <a th:if="${page.number != i}" class="page-link" href="#"
			    	th:href="@{/picking/list(assignment=${lastSearch.assignment},created=${lastSearch.created},orderStatus=${lastSearch.orderStatus},page=${i},size=${page.size})}"
			    >[[${i}+1]]</a>
			    <span th:if="${page.number == i}" class="page-link">[[${i}+1]]</span>
		    </li>
			</th:block>
		    <li class="page-item" th:classappend="!${page.hasNext()} ? disabled : ''">
		    	<a class="page-link" href="#"
		    		th:href="@{/picking/list(assignment=${lastSearch.assignment},created=${lastSearch.created},orderStatus=${lastSearch.orderStatus},page=${page.number+1},size=${page.size})}"
		    	>Weiter</a>
		    </li>
		  </ul>
		</nav>
        
		<hr>
        
        <a class="btn btn-primary" href="#" th:href="@{'/picking/createOrder'}" role="button">Auftrag anlegen</a>
        
	
        
    </div>

</body>
</html>