<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Kommissionierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Neuer Kommissionierauftrag</h2>
	   
	        <form th:object="${newOrder}" th:action="@{/picking/new}" method="post">
	        
	    	<div class="form-group">
	    		<label th:for="productNo" th:text="'Auftragsbezeichnung'"></label>
	    		<input type="text" class="form-control" th:field="*{orderName}" />
	    	</div>
	    	
	    	<button type="submit" class="btn btn-primary">Anlegen</button>
	    
			<a href="/picking/list" class="btn btn-primary">Zurück zur Auftragsliste</a>
	
	        </form>
    	
    	</div>
  

</body>
</html>