<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Kommissionierung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    
    	<h2>Kommissionierauftrag</h2>
    	
    	<table class="table table-sm">
    		<tr>
    			<th>ID</th>
    			<th>Auftragsbezeichnung</th>
    			<th>Benutzer</th>
    			<th>Status</th>
    			<th>angelegt</th>
    			<th>geändert</th>
    		</tr>
    		<tr>
    			<td th:text="${order.id}">ID</td>
    			<td th:text="${order.orderName}">Auftragsbezeichnung</td>
    			<td>
                    <span th:if="${order.user != null}" th:text="${order.user.username}">Benutzer</span>
                   </td>
    			<td th:text="${order.orderStatus}">Status</td>
    			<td th:text="${#dates.format(order.created, 'dd.MM.yyyy HH:mm')}">angelegt</td>
    			<td th:text="${#dates.format(order.lastChanged, 'dd.MM.yyyy HH:mm')}">geändert</td>
    		</tr>
    	</table>
    	
    	<a href="#"
    		class="btn btn-primary"
    		th:if="${order.assignmentAllowed}"
    		th:href="@{'/picking/' + ${order.id} + '/assign'}">Auftrag übernehmen</a>
    
    	<a href="#"
    		class="btn btn-primary"
    		th:if="${order.statusNew}"
    		th:href="@{'/picking/' + ${order.id} + '/manageItems'}">Positionen bearbeiten</a>
    
    	<a href="#"
    		class="btn btn-primary"
    		th:if="${order.closingAllowed}"
    		th:href="@{'/picking/' + ${order.id} + '/close'}">Auftrag abschließen</a>
    
		<hr>			

        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Artikelbezeichnung</th>
                    <th>Status</th>
                    <th>Sollmenge</th>
                    <th>Istmenge</th>
                    <th th:if="${myOrder}">Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${order.items}">
                    <td th:text="${item.product.productNo}">Auftragsbezeichnung</td>
                    <td th:text="${item.itemStatus}">Status</td>
                    <td th:text="${item.orderQuantity}">Sollmenge</td>
                    <td th:text="${item.actualQuantity}">Istmenge</td>
                    <td th:if="${myOrder}">
                    	&nbsp;
                    	<a href="#" 
                    		th:if="${item.itemStatus == 'OFFEN'}" 
                    		th:href="@{'/picking/' + ${item.id} + '/editItem'}" title="Ändern">
                    		<img src= "/icons/pencil-2x.png" />
                    	</a>
                     </td>
                </tr>
            </tbody>
        </table>
	    	
	    
		<a href="/picking/list" class="btn btn-primary">Zurück zur Auftragsliste</a>
	
    </div>

</body>
</html>