<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Passwortänderung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
        
	   <h2>Passwortänderung</h2>
	   
	   <div class="alert alert-danger" role="alert" th:if="${errors.size() > 0}">
	   
	   <p><strong>Es sind Fehler aufgetreten. Das Passwort wurde nicht geändert.</strong></p>
	   
	   	<ul th:each="error : ${errors}">
	   		<li th:text="${error}">Fehler!</li>
	   	</ul>
			
		</div>
	   
	    <form th:object="${userDetails}" th:action="@{/user/savePassword}" method="post">

	    	<input type="hidden" th:field="*{id}" />
	    	
	    	<input type="hidden" th:field="*{username}" />

	    	<div class="form-group">
	    		<label th:for="username" th:text="'Benutzername'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{username}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="oldPasswordInput" th:text="'altes Password'"></label>
	    		<input type="password" class="form-control" th:field="*{oldPasswordInput}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="newPassword1" th:text="'neues Passwort'"></label>
	    		<input type="password" class="form-control" th:field="*{newPassword1}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="newPassword2" th:text="'neues Passwort (Wiederholung)'"></label>
	    		<input type="password" class="form-control" th:field="*{newPassword2}" />
	    	</div>
	    
		<button type="submit" class="btn btn-primary">Speichern</button>
		
		<a href="/" class="btn btn-primary">Zurück</a>
	
		</form>
        
	   
        
    </div>

</body>
</html>