<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Benutzerrollen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

	<div class="container mt-4">
        
	   <h2>Liste der Benutzerrollen</h2>
	   
	   
	   <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Benutzer</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="role : ${roles}">
                    <td>
                    	<a href="#" th:href="@{'/user/userRoles/' + ${role.id}}" title="Anzeigen">
                    		<span th:text="${role.roleName}">Name</span>
                    	</a>
                    </td>
                    <td th:text="${role.users.size()}">Anzahl Benutzer</td>
                </tr>
            </tbody>
        </table>
        
        <hr>
        
        <form th:object="${selectedRole}" th:action="@{/user/saveRole}"  method="post">
        
        	<h5 th:text="${selectedRole.id == null ? 'Neue Rolle' : 'Ausgewählte Rolle'}">Ausgewählte Rolle</h5>

	    	<input type="hidden" th:field="*{id}" />

	    	<div class="form-group" th:if="${selectedRole.id != null}">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="roleName" th:text="'Name der Rolle'"></label>
	    		<input type="text" class="form-control" th:field="*{roleName}" />
	    	</div>
	    	
	    	<div th:if="${selectedRole.users.size() > 0}">
	    	
	    		<strong>Benutzer:</strong>
	    		
	    		<th:block th:each="user : ${selectedRole.users}">
	    		
	    			<span th:text="${user.username}">User</span>
	    		
	    		</th:block>
	    	
	    	</div>

			<button type="submit" class="btn btn-primary" 
				th:if="${selectedRole.id == null or selectedRole.users.size() == 0}">Speichern</button>
				
			<a href="#" th:href="@{'/user/deleteRole/' + *{id}}" class="btn btn-danger" th:if="${selectedRole.id != null and selectedRole.users.size() == 0}">Löschen</a>
			
			<a href="/user/userRoles" th:if="${selectedRole.id != null}" class="btn btn-primary">Auswahl zurücksetzen</a>
        
        </form>
	   
	   
	</div>

</body>
</html>