<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Benutzer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

	<div class="container mt-4">
	
		<h2>Benutzerliste</h2>
	
	   <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Rollen</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                    	<a href="#" th:href="@{'/user/userList/' + ${user.id}}" title="Anzeigen">
                    		<span th:text="${user.username}">Name</span>
                    	</a>
                    </td>
                    <td>
                    	<th:block th:each="role : ${user.roles}">
	    					<span th:text="${role.roleName}">User</span>
	    				</th:block>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr>
        
        <form th:object="${selectedUser}" th:action="@{/user/saveUser}"  method="post">
        
        	<h5 th:text="${selectedUser.id == null ? 'Neuer Benutzer' : 'Ausgewählter Benutzer'}">Ausgewählter Benutzer</h5>

	    	<input type="hidden" th:field="*{id}" />
	    	<input type="hidden" th:field="*{password}" />
	    	<input th:if="${selectedUser.id != null}" type="hidden" th:field="*{username}" />

	    	<div class="form-group" th:if="${selectedUser.id != null}">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="username" th:text="'Name'"></label>
	    		<input type="text" th:disabled="${selectedUser.id != null}" class="form-control" th:field="*{username}" />
	    	</div>
	    	
	    	<select th:if="${selectedUser.id != null}" th:field="*{roles}" class="form-control" multiple>
	            <option th:each="r : ${allRoles}"                                        
	                    th:value="${r.id}"
	                    th:text="${r.roleName}"
	                    >
	            </option>
        	</select>
	    	
			<button type="submit" class="btn btn-primary">Speichern</button>
				
			<a href="#" th:href="@{'/user/deleteUser/' + *{id}}" class="btn btn-danger" th:if="${selectedUser.id != null}">Löschen</a>
			
			<a href="/user/userList" th:if="${selectedUser.id != null}" class="btn btn-primary">Auswahl zurücksetzen</a>
        
        </form>

	</div>

</body>
</html>