<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Simple WMS -- Artikelverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
	<nav class="navbar navbar-expand-sm" th:fragment="main_menu">
		<ul class="navbar-nav">
			<li class="nav-item">
            	<a class="nav-link" href="#" title="Home" th:href="@{'/'}"><img src= "/icons/home-2x.png" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/product/list'}">Artikelverwaltung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/location/list'}">Lagerplatzverwaltung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/stock/list'}">Bestandsverwaltung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/picking/list'}">Kommissionierung</a>
            </li>
            <li class="nav-item dropdown">
		    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Einstellungen
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#" th:href="@{'/user/passwordChange'}">Passwort ändern</a>
		          	<div class="dropdown-divider"></div>
		          	<a class="dropdown-item" href="#" th:href="@{'/user/userRoles'}">Verwaltung Benutzerrollen</a>
		          	<a class="dropdown-item" href="#" th:href="@{'/user/userList'}">Verwaltung Benutzer</a>
		        </div>
		    </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="#" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
        <span class="navbar-text" sec:authorize="isAuthenticated()" 
        	th:text="${'angemeldet als: ' + #authentication.name + ' ' + #authentication.authorities}">
			UserName
		</span>
    </nav>

</body>
</html>