<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="jumbotron">
        <h1>Error</h1> 
        <p>Die letzte Operation ist auf einen Fehler gelaufen:</p> 
        <p th:text="${status + ' ' + error}">Fehler</p>
    	<button class="btn btn-primary" onclick="window.history.back();">Zurück</button>
    </div>
    
</body>
</html>