<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Lagerplatzverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container">
    
	    <form  th:object="${location}" th:action="@{/location/save}"  method="post">

	    	<input type="hidden" th:field="*{transferMode}" />
	    	
	    	<input type="hidden" th:field="*{id}" />
	    	<input type="hidden" th:field="*{aisle}" />
	    	<input type="hidden" th:field="*{stack}" />
	    	<input type="hidden" th:field="*{level}" />

	    	<div class="form-group">
	    		<label th:for="id" th:text="'ID'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{id}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<label th:for="coordinates" th:text="'Koordinaten'"></label>
	    		<input type="text" th:disabled="${true}" class="form-control" th:field="*{coordinates}" />
	    	</div>
	    
	    	<div class="form-group">
	    		<input type="checkbox" th:disabled="*{editDisabled==true}" th:field="*{locked}" />
	    		<label th:for="locked" th:text="'gesperrt ja/nein'"></label>
	    	</div>
	    
	    

		<button type="submit" class="btn btn-primary" 
			th:if="*{transferMode=='edit' or transferMode=='new' or transferMode=='newAisle' or transferMode=='newStack'}">
			Speichern</button>
		
		<a href="/location/list" class="btn btn-primary">Zurück</a>
	
		<a href="#" th:href="@{'/location/' + *{id} + '/delete'}" class="btn btn-danger" th:if="*{transferMode=='delete'}">Löschen</a>
	
		</form>
        
    </div>

</body>
</html>