<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Simple WMS -- Lagerplatzverwaltung</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div th:replace="fragments/main_menu :: main_menu">
    </div>

    <div class="container mt-4">
        
	   <h2>Lagerplatzliste</h2>
	   
		<form th:object="${locationSearch}" th:action="@{/location/list}"
			method="get">
			<table class="table table-sm">
				<tr>
                    <th>gesperrt?</th>
                    <th>frei?</th>
                    <th>Gang</th>
                    <th>Säule</th>
				</tr>
				<tr>
					<td>
						<input type="radio" th:field="*{locked}" value="ja"/><label th:text="Ja">Ja</label>
						<input type="radio" th:field="*{locked}" value="nein"/><label th:text="Nein">Nein</label>
						<input type="radio" th:field="*{locked}" value="egal"/><label th:text="Egal">Egal</label>
					</td>
					<td>
						<input type="checkbox" th:field="*{noStock}" />
					</td>
					<td><input type="text" th:field="*{aisle}" /></td>
					<td><input type="text" th:field="*{stack}" /></td>
				</tr>
				<tr>
					<td><button type="submit" class="btn btn-primary">Suchen</button></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>

			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			
				<ul>
				    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
				        <span th:text="${e.message}">The error message</span>
				    </li>
				</ul>			
			</div>

		</form>

        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Gang</th>
                    <th>Säule</th>
                    <th>Ebene</th>
                    <th>Anzeige</th>
                    <th>gesperrt?</th>
                    <th>Bestand</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="location : ${page.content}"
                	th:class="${location.locked} ? table-warning : table-default">
                    <td th:text="${location.aisle}">Gang</td>
                    <td th:text="${location.stack}">Säule</td>
                    <td th:text="${location.level}">Ebene</td>
                    <td th:text="${location.coordinates}">Anzeige</td>
                    <td>
    					<span th:if="${location.locked}" th:text="ja">ja</span> 
    					<span th:unless="${location.locked}" th:text="nein" >nein</span>
					</td>
					<td> 
						<a href="#" title="Bestandsliste"
							th:if="${location.stock != null}"
							th:href="${'/stock/list?locAisle=' + location.aisle +  '&locStack=' + location.stack + '&locLevel=' + location.level}" 
							th:text="${location.stock.product.productNo}" >Bestände</a>
					</td>
                    <td>
                    	&nbsp;
                    	<a href="#" th:href="@{'/location/' + ${location.id} + '/show'}" title="Anzeigen"><img src= "/icons/document-2x.png" /></a>
                    	&nbsp;
                    	<a href="#" th:href="@{'/location/' + ${location.id} + '/edit'}" title="Ändern"><img src= "/icons/pencil-2x.png" /></a>
                    </td>
                </tr>
            </tbody>
        </table>

		<nav aria-label="Lagerplatzlist-Navigation">
		  <ul class="pagination justify-content-center">
	    	<li class="page-item" th:classappend="!${page.hasPrevious()} ? disabled : ''"> 
	    		<a class="page-link" href="#"
					th:href="@{/location/list(locked=${lastSearch.locked},_noStock=${lastSearch.noStock},aisle=${lastSearch.aisle},stack=${lastSearch.stack},page=${page.number-1},size=${page.size})}"
				>Zurück</a>
		    </li>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		    <li th:if="${i != -1}" class="page-item" th:classappend="${page.number == i} ? active : ''">
			    <a th:if="${page.number != i}" class="page-link" href="#"
			    	th:href="@{/location/list(locked=${lastSearch.locked},_noStock=${lastSearch.noStock},aisle=${lastSearch.aisle},stack=${lastSearch.stack},page=${i},size=${page.size})}"
			    >[[${i}+1]]</a>
			    <span th:if="${page.number == i}" class="page-link">[[${i}+1]]</span>
		    </li>
			</th:block>
		    <li class="page-item" th:classappend="!${page.hasNext()} ? disabled : ''">
		    	<a class="page-link" href="#"
		    		th:href="@{/location/list(locked=${lastSearch.locked},_noStock=${lastSearch.noStock},aisle=${lastSearch.aisle},stack=${lastSearch.stack},page=${page.number+1},size=${page.size})}"
		    	>Weiter</a>
		    </li>
		  </ul>
		</nav>
        
    </div>

</body>
</html>